@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&family=EB+Garamond:ital,wght@0,400;0,600;0,700;0,800;1,400;1,500;1,700;1,800&family=Foldit:wght@200;400;600&family=Montserrat:wght@200;700&family=Nunito:ital,wght@0,200;0,400;0,600;0,800;1,200&family=Open+Sans:wght@300;400;700&family=Oswald:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,400;0,600;1,400&family=Roboto:wght@100;300;500;700&family=Work+Sans:ital,wght@0,200;0,300;0,500;1,100;1,300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'EB Garamond', serif;

}
a{
    text-decoration:none;

}
li{
    list-style:none;
}

body {
}

header{
    z-index:99;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    padding:0px 200px;
    transition:0.5s ease;
    text-transform:capitalize;
    animation: opacity 1.5s ease;
    overflow :hidden;  
    background:black;
}

header .navbar{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

  header .navbar  .input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header .navbar   .input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  header .navbar   .input:focus {
    outline: none;
  }
  
  header .navbar   .input:focus + .input-border {
    width: 100%;
  }
  
  header .navbar  .form-control {
    position: relative;
    --width-of-input: 300px;
  }
  
  header .navbar   .input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
header .navbar .info{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding:10px;
}

header .navbar .info a{
    margin-right:20px;
    color:white;
    font-size:20px;
}

.slide {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease;
    overflow :hidden;  

}
  
.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
    position:relative;
  }
  
  .slide img:after {
    width: 100%;
    height: 100%;
}

  
  .content {
    position: absolute;
    bottom: 25%;
    left: 200px;
    color: #fff;
    width:570px;
    padding:23px;
    backdrop-filter: blur(10px); 
    animation: opacity 1.6s ease-in;

 }
  .content span{
    background:#339503;
    padding:6px;
    border-radius:30px;
    color:white;
    font-size:16px;
  }
  
  .content h2 {
    font-size: 50px;
    margin: 0;
    padding: 0;
  }
  
.content p {
    font-size: 16px;
    margin: 50px  0;
    padding: 0;
    width:100%;
}

.content .button{
    background:transparent;
    color:white;
    margin-right:28px;
    padding:10px;
    border-radius:20px;
    border:none;
    font-size:20px;
    cursor: pointer;
}
.button a{
    color:white;
    cursor:pointer;
}
.button a:hover{
    color:grey;
}
.button .icon{
    margin-right:6px;
}

.content .watch-btn{
    background:red;
}

/*left side*/
.dashbord{
    position:fixed;
    left:0;
    top:0;
    z-index:777;
    background:black;
    color:white;
    padding:20px;
    height:100%;
    overflow-y:scroll;
}

::-webkit-scrollbar{
width:3px;
}

::-webkit-scrollbar-track {
        background:#83252887 ;
}

::-webkit-scrollbar-thumb{
    background-color:#191919;
}


.menu-side{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:50px;
    transition:.1s;
    border-radius:10px;
    padding:8px;
    margin-bottom:20px;
    cursor:pointer;
}

.menu-side:hover{
background:#970C10;
}


.dashbord:hover .menu-side {
    width:180px;
    transition:.5s;
}

.dashbord:hover p {
display:block;
}


.menu-side i{
font-size:27px;
/* margin-bottom:25px; */
display:flex;
align-items:center;
}

.dashbord hr{
    margin:10px;
}

.menu-side p{
display:none;
}


@keyframes opacity {
    0%    { opacity: 0; }
    50%   { opacity: 0.5; }
    100%  { opacity: 1; }
}
