* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#212121 ;
}

div {
    height: 20rem;
    width: 20rem;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    position: relative;
    margin: 20px auto;
}

div::before {
    content: '';
    border: 1rem solid #fff;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    width: 200px;
    height: 12.5rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

div::after {
    content: '';
    border: 1rem solid #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 5rem;
    height: 5rem;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

span {
    width: 20px;
    height: 20px;
    background:white;
    left: 0;
    right: -9rem;
    position: absolute;
    margin: auto;
    top: 90px;
    border-radius:50%;
}