* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: transparent;
  text-transform: uppercase;
  border: 0.1vw solid rgb(50, 50, 50);
  box-shadow:
    0 0 0.5vw black,
    0 0 0.5vw 0.1vw transparent,
    0vw 0 2vw -0.5vw black,
    0vw 0 2vw -0.5vw black,
    0 -1vw 1vw -1vw transparent inset;
  padding: 0.4vw 0.55vw;
  width: 8vw;
  height: 2vw;
  border-radius: 0.2vw;
  cursor: pointer;
  text-shadow: 0.05vw 0 0 white;
  font-size: 0.8vw;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  font-family: arial;
  letter-spacing: 0.2vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.submit:after {
  content: "next";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: transparent;
  text-shadow: 1.8vw 1.8vw 1.2vw white;
  text-transform: uppercase;
  font-size: 0.8vw;
  letter-spacing: 5.2vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.submit:hover:after,
.submit:focus:after {
  letter-spacing: 0.28vw;
  text-shadow: 0.08vw 0vw 0 white;
}

.submit:before {
  content: "next";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: transparent;
  text-shadow: 1.8vw -2vw 1.2vw white;
  text-transform: uppercase;
  font-size: 0.8vw;
  letter-spacing: 5.2vw;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.submit:hover:before,
.submit:focus:before {
  letter-spacing: 0.28vw;
  text-shadow: 0.08vw 0vw 0.08vw white;
}

.submit:hover,
.submit:focus {
  box-shadow:
    0 0 2vw black,
    0 0 1.2vw 0.1vw black,
    4vw 0 2vw -0.5vw rgb(255, 0, 105),
    -4vw 0 2vw -0.5vw rgb(255, 0, 105),
    0 -1vw 1vw -1vw rgb(255, 0, 105) inset;
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
  background: rgba(0, 0, 0, 0.2);
  font-size: 1.25vw;
  letter-spacing: 1.28vw;
  padding: 0.4vw 1vw;
  text-shadow: 0 0 2vw white;
  border-bottom: 0.1vw solid rgb(255, 0, 105);
}
